<div>
    <div class="booking-main">
        <div id="booking-container">
            <div id="booking-information">
                <div class="booking-information">
                    <p class="booking-header">Velkommen til oss!</p>
                    <p class="booking-text">
                        Hos oss garanterer vi kvalitet fra lokale råvarer, tilberedet av kokker som brenner for å gi deg det beste av det norsk natur kan tilby!<br><br>
                        Vi tilbyr også utleie av våre flotte, åpne lokaler for spesielle anledninger, som kan romme opptil 70 personer. Restauranten er er bare 5 minutters gange fra togstasjonen, både i Oslo og Bergen<br><br>
                        Ta kontakt med oss ved å fylle ut skjemaet på denne siden, eller ring oss direkte på numrene under.
                    </p>
                </div>
            
            </div>
        </div>
    
    
        <div class="container-contact-form">
            <form action="noAction">
                
                <div class="contact-form-top">
                    <label for="name">Fullt navn</label>
                    <input type="text" id="name" name="name" placeholder="Ditt navn..">
          
                    <label for="phonenumber">Telefonnummer</label>
                    <input type="text" id="phonenumber" name="lastname" placeholder="Ditt telefonummer..">
                </div>
                <br>
                
                <div>
                    <label for="date">Dato</label>
                    <input type="date" id="date" name="date" placeholder="Velg en dato ">
                </div>
            
                <br>
          
              <label for="subject">Bestilling</label>
              <textarea id="subject" name="subject" placeholder="Skriv litt om hva du ønsker" style="height:200px"></textarea>
          
              <a href="mailto: example@mail.com?subject = name" class="button-send">Send</a>
          
            </form>
          </div>
    </div>

    
    <div class="booking-bottom">
        <div id="booking-restaurants">
            <div class="booking-restaurant">
                <p class="booking-restaurant-header">Oslo</p>
                <p class="booking-restaurant-adress">
                    Osloveien 22<br>
                    0001 Oslo
                </p>
                <p class="booking-restuarant-telephone">Tlf: +47 111 12 222</p>
                <p class="booking-restuarant-mail">
                    E-post: 
                    <a href="mailto:bookingoslo@house.com"> bookingoslo@house.com </a>
                </p>
                <div id="booking-restuarant-opening-hours">
                    <h3>Åpningstider:</h3>
                    <p class="booking-restuarant-opening-weekday">Mandag - torsdag: 15:00 - 23:00</p>
                    <p class="booking-restuarant-opening-weekend">Fredag - Søndag: 12:00 - 01:30</p>
                </div>
                <p class="booking-restuarant-kitcheninfo">Kjøkkenet stenger 30 minutter før restauranten.</p>
            </div>
            <div class="booking-restaurant">
                <p class="booking-restaurant-header">Bergen</p>
                <p class="booking-restaurant-adress">
                    Bergensgaten 46<br>
                    0002 Bergen
                </p>
                <p class="booking-restuarant-telephone">Tlf: +47 333 34 444</p>
                <p class="booking-restuarant-mail">
                    E-post: 
                    <a href="mailto:bookingbergen@house.com"> bookingbergen@house.com </a>
                </p>
                <div id="booking-restuarant-opening-hours">
                    <h3>Åpningstider:</h3>
                    <p class="booking-restuarant-opening-weekday">Mandag - torsdag: 16:00 - 23:30</p>
                    <p class="booking-restuarant-opening-weekend">Fredag - Søndag: 13:00 - 00:00</p>
                </div>
                <p class="booking-restuarant-kitcheninfo">Kjøkkenet stenger 45 minutter før restauranten.</p>
            </div>
    
        </div>
    </div>
</div>