

<div class="home-left">
    <div class="home-textbox-left">
        <h1> Autentiske norske retter</h1>
        <p> På vår nettside finner du alt du ønsker å vite om vår meny og booking av bord i våre to flotte lokaler i Oslo og Bergen.</p>
        <p> Vi oppdaterer menyen jevnlig, avhengig av hvilke råvarer som er tilgjengelige.</p>
    </div>
</div>
<div class="home-right">
    <!-- (Pixabay) Hentet fra Pixabay - Author Life-Of-Pix -->
    <img class="main-image" src="https://cdn.pixabay.com/photo/2014/10/22/17/50/bar-498420_960_720.jpg" alt="Barskapet til en restaurant">
    
    <!-- 
        <div class="main-image-container">
        
    </div>
        <div class="home-textbox-right">
        <h2> Vi har ledige plasser til ditt julebord, reserver i dag!</h2>
        <p> Julebordsesongen er allerede godt i gang, men vi har fremdeles noen ledige datoer.</p>
    </div>
        
    -->
    
</div>



