<div id="header-logo">
    <img id="logo" src="/assets/img/logo.png" alt="Logo - picture of a house"> <!-- Logo laget med DALL-E -->
    <p class="large-text" >House booking</p>   
  </div>
  <div class="nav-btn">    <!-- Tanken er å bruke denne som en dropdown menu om vi kommer så langt -->   
  </div>    
  <div id="header-nav">
    <a class="nav-button nav-home" href="index.html">Hjem</a>
    <a class="nav-button nav-booking" href="booking.html">Booking</a>
    <a class="nav-button nav-menu" href="menu.html">Meny</a>
    <a class="nav-button nav-access" href="accessibility.html">Tilgjengelighet</a>
    <a class="nav-button nav-topical" href="topical.html">Aktuelt</a>
</div>
    