

<div class="topical-page"> 
    <p>(Hentet fra innlevering i DATA1100 - Modul 3) </p>

    <div class="header-topical"><h2>Steg 1. Lag 3 karakterer med funksjonshemminger.</h2></div>

    <div class="text-box-topical">
        <h3> Robert</h3>
        <p>Robert er en mann på 26 år, han veier 25 kg og lider av 
        <a href="https://en.wikipedia.org/wiki/Congenital_muscular_dystrophy">kongentalmuskeldystrofi</a>. 
        Han er bundet opp til rullestol for livet, og forventet leve alder er 40 år. Han er avhengig av assistanse 
        for å fullføre de daglige gjøre målene. Men han har delvis funksjonelle armer hvor han kan 
        bevege armene begrenset innenfor en liten radius rundt kroppen. Det er to fingre på hver hånd 
        han bruker mest, pekefingrene og tomlene.
        Rullestolen Robert bruker har et bord foran, så Robert kan enklere bruke rullestolen og lene seg 
        fremover. Joysticken for å styre rullestolen ligger midt på bordplaten.
        </p>
    </div>

    <br>

    <div class="text-box-topical">
        <h3> Tom</h3>
        <p>Tom, fra Nederland, 25 år og har en funksjonshemming.
        Han har vanskelig for å fokusere, og går seg fort vill i bygninger. Han trenger bygninger hvor 
        han lett kan huske hvor han er og skal. I tillegg er han ikke vant til å gå oppover i bygninger, 
        fordi han bare har vært i bygninger med en etasje. Tom studerer på universitetscampus. Ved 
        hjelp av universell utforming laget spesifikt for kartlegging av bygninger, kan vi gjøre 
        hverdagen hans bedre. 
        Han trenger at alt er tydelig. Informasjon kan utformes som illustrasjoner eller konsise
        setninger. For å hjelpe Tom ville jeg hentet inspirasjon fra kjente universiteter for universell 
        design i andre land, f.eks. 
        <a href="https://www.edrobertscampus.org/">Ed Roberts Campus</a>.
        </p>
    </div>

    <br>

    <div class="text-box-topical">
        <h3> Anja</h3>
        <p>Anja er 53 år, og ble født blind. Hun har flyttet fra Tyskland til Norge. Helt siden hun lærte seg 
        alfabetet har hun hatt en drøm om å jobbe med å skrive. Dermed var det naturlig for henne å ta 
        en <a href="https://www.uib.no/studier/BASV-JOU"> bachelorgrad i journalistikk ved Universitetet i Bergen</a>. 
        Det har vært utfordringer knyttet til jobben som journalist på grunn av hennes blindhet, men teknologien for å bistå blinde har gjort 
        daglig bruk av PC og mobil enklere over tid.
        </p>
    </div>

    <br>

    <div class="header-topical"><h2>Steg 2. Velg 1 av de 3 karakterene og forklar hvorfor</h2></div>

    <br>

    <div class="text-box-topical">
        Tekonolgi: Digital teknologi
        <br>
        1. Bruk av en stasjonær pc (Tastatur og mus)
        <br>
        2. Spille dataspill med venner.
        <br>
        3. Kommunisere skriftlig effektivt på et tastatur. 
        <br>
        4. Kommunisere skriftlig effektivt på en telefon.
        <br>
        5. Ikke mulighet for å bruke laptop på sin normale rullestol.
        <br>
        6. Begrensinger ved bruk av datamus
        <br>
        7. Begrensinger ved bruk av touchpad (Følsomhet og trykksensitivitet)
        <br>
        8. Problemer med navigering gjennom nettsider ved bruk av scrolling
        <br>
        9. Lang avstand fra dataskjerm som fører til vanskeligheter med å lese det som står på 
        skjermen. 
        <br>
        10. Prosesserer for bruk av maskinens applikasjoner, men også det å tilpasse hver 
        applikasjon tar tid.
    </div>
        
</div>

